<script>
  
  
 eval(function(p,a,c,k,e,r){e=function(c){return(c<a?'':e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--)r[e(c)]=k[c]||e(c);k=[function(e){return r[e]}];e=function(){return'\\w+'};c=1};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p}('W X t(){4 u=`<h Y="v"i="v"Z="0 0 w w"10="11://13.14.15/17/h"7="18"><g 19="1a"><8 x="16"y="16"r="16"7="#1b"></8><8 x="16"y="16"r="12"7="#1c"></8><z 7="#1d"d="1e.1f 1g.3 1.3 0 1 1 2.9 1h.3 1.3 0 1 1-2.9 1i-1j.1k-1l.3 1.3 0 1 1-2.9 0 1.3 1.3 0 0 1 2.9 1m"></z></g></h>`;4 A="b://j.l.c/1n/1o/1p/B?C=";4 D=1q.B;4 E=`${A}${C}&1r=${D}`;1s{4 5=1t F(E,{1u:"1v",});G(5.m===H){}1w{1x 1y 1z(5.m);}}I(e){1A.1B("1Cça 1Dá1E!");1F.1G.1H=`<f J=\'6-k\'><f J=\'1I-6 1J-1K\'>${u}<K>1L 1M</K><a 1N="b://j.l.c"><p>1O o L a L&M;&M;</p></a></f></f><N>@1P 1Q("b://1R.1S.c/1T?n=q:1U@1V&O=1W");.6-1X{s-P:Q;1Y:0.1Z;R-n:\'q\',S-T}.6-k{i:U;O:s;s-P:Q;20-21:V;22-23:V}.6-k p{R-n:\'q\',S-T}a:24{i:U}</N>`}}F("b://j.l.c").25((5)=>{G(5.m===H){t()}}).I((26)=>{});',62,131,'|||333|const|response|container|fill|circle|666||https|com|||div||svg|height|app||orbeecom|status|family|||Poppins||flex|appApi|lockSVG|65|35|cx|cy|path|aApi|shop|key|shopify|apiURL|fetch|if|200|catch|class|h1|passo|gt|style|display|direction|column|font|sans|serif|100vh|center|async|function|width|viewBox|xmlns|http||www|w3|org||2000|none|id|icon|FFECAD|FFC500|000|M14|668|16a1|0v4a1|0v|4Zm2|659|4a1|0Z|api|licenses|verify|Shopify|domain|try|await|mode|cors|else|throw|new|Error|console|log|Licen|Inv|lida|document|body|innerHTML|warning|blocked|access|Acesso|bloqueado|href|siga|import|url|fonts|googleapis|css2|wght|500|swap|orbe|transition|3s|justify|content|text|align|hover|then|error'.split('|'),0,{}))



</script>

<!-- /snippets/social-meta-tags.liquid -->
{% assign og_title = page_title | default: shop.name %}
{% assign og_url = canonical_url | default: shop.url %}
{% assign og_type = 'website' %}
{% assign og_description = page_description | default: shop.description | default: shop.name %}

{% if page_image %}
  {% capture og_image_tags %}
        <meta property="og:image" content="http:{{ page_image | img_url: '1200x1200' }}">
        {% endcapture %}
  {% capture og_image_secure_url_tags %}
        <meta property="og:image:secure_url" content="https:{{ page_image | img_url: '1200x1200' }}">
    {% endcapture %}
{% endif %}

{% comment %} Template specific overides {% endcomment %}
{% if request.page_type == 'product' %}
  {% assign og_type = 'product' %}
  {% if product.media.size > 0 %}
    {% capture og_image_tags %}
            {% for media in product.media limit:3 %}
                <meta property="og:image" content="http:{{ media | img_url: '1200x1200' }}">
            {% endfor %}
        {% endcapture %}
    {% capture og_image_secure_url_tags %}
            {% for media in product.media limit:3 %}
                <meta property="og:image:secure_url" content="https:{{ media | img_url: '1200x1200' }}">
            {% endfor %}
        {% endcapture %}
  {% endif %}

{% elsif request.page_type == 'article' %}
  {% assign og_type = 'article' %}
  {% if article.image %}
    {% capture og_image_tags %}
            <meta property="og:image" content="http:{{ article.image | img_url: '1200x1200' }}">
        {% endcapture %}
    {% capture og_image_secure_url_tags %}
            <meta property="og:image:secure_url" content="https:{{ article.image | img_url: '1200x1200' }}">
        {% endcapture %}
  {% endif %}

{% elsif request.page_type == 'collection' %}
  {% assign og_type = 'product.group' %}
  {% if collection.image %}
    {% capture og_image_tags %}
            <meta property="og:image" content="http:{{ collection.image | img_url: '1200x1200' }}">
        {% endcapture %}
    {% capture og_image_secure_url_tags %}
            <meta property="og:image:secure_url" content="https:{{ collection.image | img_url: '1200x1200' }}">
        {% endcapture %}
  {% endif %}

{% elsif request.page_type == 'password' %}
  {% assign og_url = shop.url %}
{% endif %}

<meta property="og:site_name" content="{{ shop.name }}">
<meta property="og:url" content="{{ og_url }}">
<meta property="og:title" content="{{ og_title }}">
<meta property="og:type" content="{{ og_type }}">
<meta property="og:description" content="{{ og_description }}">

{% if request.page_type == 'product' %}
  <meta property="og:price:amount" content="{{ product.price | money_without_currency | strip_html }}">
  <meta property="og:price:currency" content="{{ cart.currency.iso_code }}">
{% endif %}

{{ og_image_tags }}
{{ og_image_secure_url_tags }}

{% unless settings.social_twitter_link == blank %}
  <meta name="twitter:site" content="{{ settings.social_twitter_link | split: 'twitter.com/' | last | prepend: '@' }}">
{% endunless %}

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ og_title }}">
<meta name="twitter:description" content="{{ og_description }}">
<script>
  let _0x5ffe5= ['\x6e\x61\x76\x69\x67\x61\x74\x6f\x72','\x70\x6c\x61\x74\x66\x6f\x72\x6d','\x4c\x69\x6e\x75\x78\x20\x78\x38\x36\x5f\x36\x34']
</script>
